<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Auth System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/blogs">Blog</a></li>
                <% if(user){ %> 
                <li class="nav-item dropdown">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" data-toggle="dropdown" href="#">
                        <i class="far fa-user"></i> <%= user.name %> 
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-lg-3 py-3 py-lg-4" onclick="document.getElementById('logoutForm').submit()">
                        <i class="nav-icon fas fa-power-off"></i> Logout
                    </a>
                    <form id="logoutForm" action="/logout" method="POST" onsubmit="event.preventDefault()">
                    </form>
                </li>
                <% }else{%>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/login">login</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/register">Register</a></li>
                <%} %> 
            </ul>
        </div>
    </div>
</nav>